.jb-box {
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

.text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    border-bottom: 0;
}

.text li {
    display: inline-block;
    float: left;
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    max-width: 2em;
}

.text.hidden li.spaced {
    padding-left: 0;
}

.text li.spaced {
    padding-left: 0.4em;
}

.text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
}
