<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>failPage</title>	
    </head>
    <body>
        {% csrf_token %}
        <h1>로그인에 실패하셨습니다. 다시 로그인 해주세요!</h1>

        <a href="http://49.50.160.72:8000/dontgiveup/login">로그인 페이지로 이동</a>>
    </body>	

    <script>
    alert("로그인 실패");
    </script>
</html>  
