<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="shortcut icon" href= "{% static '../static/images/favicon.ico' %}">
        <title>loginPlease</title>	
    </head>
    <body>
        <!--Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ID만 기억하세요 </h1>
                    <h1 class="display-4 fw-bolder">PW는 우리가 기억할께요</h1>
                    <p class="lead fw-normal text-white-50 mb-0">스트레스 받는 PW찾기는 그만하시고 일에 몰두하세요</p>
                </div>
            </div>
        </header>

        <div style="text-align: center; height:10vh; width:100%;">
            <h4 style="margin-top: 60px;" class="display-7 fw-bolder">NO SESSION !!!</h4>
            <h4 class="display-7 fw-bolder">로그인 부터 해주세요</h4>
        </div>

        <div style="text-align: center; width:100%; margin-top: 20px;">
            <a href="http://49.50.160.72:8000/dontgiveup/login_test" style="color: black; text-decoration : none; font-weight: 700;">로그인 하러 가기</a>
        </div>

        <!-- Footer-->
        <footer class="py-5 bg-dark" style="margin-top: 70px; margin-top: 82px;">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SangHoon 2021</p></div>
        </footer>
    </body>
</html>