<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="shortcut icon" href= "{% static '../static/images/favicon.ico' %}">
        <title>loginPlease</title>	
    </head>
    <body>
        <h1>로그인 부터 해주세요 NO SESSION !!!</h1>
        <a href="http://49.50.160.72:8000/dontgiveup/login_test">로그인페이지로 이동</a>
    </body>
</html>