<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="shortcut icon" href= "{% static '../static/images/favicon.ico' %}">
        <title>registeredPage</title>	
    </head>
    <body>
        {% csrf_token %}
        <h1> 회원가입에 성공하셨습니다.</h1>
        <h1>회원가입 정보는 아래와 같습니다.</h1>
            아이디 : {{ human_id }}<br>
            이름 : {{ human_name }}<br>
            비밀번호 :{{ human_password }}<br>

        <a href="http://49.50.160.72:8000/dontgiveup/login_test">로그인 페이지로 이동</a>
    </body>	
</html>  
